@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 15px;
  
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

button {
  border: 2px solid black;
  padding: 10px 8px;
  border-radius: 5px;
  background-color: pink;
}

.bContainer {
  display: flex;
  gap: 5px;
}